*/*/data/elasticsearch

**/src/main/gen

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.gradle
out/
.DS_Store
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
