elasticsearch/
docker-cluster/
elastic/data/data/
out/

**/src/main/gen

yarn.lock
package-lock.json
node_modules/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.gradle
.DS_Store
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
npm-debug.log
yarn-error.log

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
